body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
li,
ul,
ol,
button,
input,
textarea {
    font-weight: 500;
    color: #40320c;
}

.logo {
    max-width: 150px;
    height: 120px;
}

.shd {
    position: relative;
    background-image: url('src\assets\images\header\bg.jpg');
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
}


.header {
    padding: 20px;
    transition: transform 0.5s ease;
}

.header.scrolled {
    transform: translateY(-100%);
}

.navbar-nav>.active>a {
    border-top: 4px solid #40320c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: border-top 0.2s ease;
}

.nav-link {
    font-size: 1.5em;
}


.nav-item {
    margin: 1rem;
}

.nav-link:hover {
    border-top: 4px solid #40320c;
    transition: all 0.3s ease;
}


.nav-cnt {
    display: flex;
    justify-content: last baseline;
}

.navbar-brand {
    margin-left: 10%;
    margin-right: 10%;
}





@media (max-width: 767px) {

    .shd {
        width: 90vw;
        background-image: url('src\assets\images\header\bg.jpg');
        background-size: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .logo {
        max-width: 50px;
        height: 50px;
    }

    .header {
        display: flex;
        height: 10%;
        width: 100%;
    }

    .navbar-toggler {
        right: 0;
        left: 80;
    }

    .navbar-nav {
        background-color: white;
        display: block;
        justify-items: center;
        z-index: 9999;
    }

    .nav-item {
        font-size: 10px;
        width: auto;
    }

    .nav-link {
        width: auto;
    }


}