<footer class="footer">
  <div class="container">
    <div class="c-row f-c">

      <div class="col-md-4">
        <div class="contact-info">
          <ul>
            <li class="body cu-f"><i class="fas fa-map-marker-alt"></i><span> </span>C-17, Shivmoti Nagar, Navlakha
              Indore,
              452001(M.P.)INDIA</li>
            <li class="body cu-f"><i class="fas fa-phone"></i><span> </span>+91-7314082401,
              +91-9826076169</li>
            <li class="body cu-f"><i class="fas fa-envelope"></i><span> </span>kamalagrawal@kadetech.in,
              npanchaity@kadetech.in</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="body">
          <div class="social-icons">
            <a href={{linkedIn}} target="_blank" aria-label="linkedIn"><i class="fab fa-linkedin"></i></a><br>
            <a href={{instagram}} target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a><br>
          </div>
          <span>©2023 by KAD e-Technologies Pvt Ltd</span>
        </div>
      </div>

    </div>
  </div>
</footer>