<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div>
          <h3>Follow Us</h3>
          <div class="social-icons">
            <a href={{linkedIn}} target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href={{instagram}} target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <span>npanchaity@kadetech.in</span><br>
      <span>©2023 by KAD e-Technologies Pvt Ltd</span>
    </div>
  </footer>
  