<div class="global-fade-in">
    <div class="container" style="padding: 5%;">
        <h1 class="text-center">Contact Us</h1>

        <form #contactForm="ngForm" (ngSubmit)="Submit(contactForm)">
            <label for="name">Name:</label><br>
            <input type="text" id="name" style="width: 100%;" name="name" ngModel required><br>

            <label for="designation">Designation:</label><br>
            <input type="text" id="designation" style="width: 100%;" name="designation" ngModel required><br>

            <label for="companyName">Company Name:</label><br>
            <input type="text" id="companyName" style="width: 100%;" name="companyName" ngModel required><br>

            <label for="phone">Phone:</label><br>
            <input type="number" id="phone" style="width: 100%;" name="phone" ngModel required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" style="width: 100%;" name="email" ngModel required><br>

            <label for="address">Address:</label><br>
            <textarea id="address" style="width: 100%;" name="address" rows="4" ngModel required></textarea><br>

            <button mat-raised-button color="primary" type="submit"><span style="color: white;">Submit</span>
            </button>
            <div *ngIf="sending" class="mt-2">
                <mat-spinner  style="height: 40px;width: 40px;"></mat-spinner>
            </div>
            <div *ngIf="successMessage" class="success-message">
                {{ successMessage }}
            </div>
        </form>
    </div>
</div>