<div class="global-fade-in">
  <div class="container mt-5">
    <h1><b class="headings">About KAD e-Tech</b></h1>
    <div class="body" style="font-size: larger;">
      <p>
        KAD e-Tech, an IT service providing company based in India with major focus on Data Entry, Data Processing and
        Data Reconciliation. It possesses years of experience and has completed number of different data related
        projects.
      </p>
      <p>
        Since it’s formation in the year 2010, KAD e-Tech has emerged as one of most innovative data services and
        back
        office support providing company in Indore, INDIA. Being headquartered in the center of India, enables us to
        deal effectively with our clients and allows us to provide them with solutions that are target specific.
      </p>
      <p>
        KAD e-Tech is a one stop solution for high quality, time bound and cost-effective data entry services like Data
        Conversion, Data Entry, Forms Processing, Image Tagging, Data Capture, Financial Data Entries, Word Processing,
        Electronic Document Management & Database Management facilities in India.
      </p>
    </div>
  </div>
  <div class="carousl" style="font-size: larger;">
    <div class="container text-center">
      <ngb-carousel *ngIf="photos">
        <ng-template class="templ" ngbSlide *ngFor="let photo of photos">
          <img class="templ" [src]="photo.url" alt="{{ photo.name }}" class="bmi mt-5">
          <h3 class="headings" style=" color: white"><b>{{ photo.name}}</b></h3>
          <h6 class="body" style="color: white;margin-bottom: 50px;">{{ photo.description }}</h6>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="container text-center mt-5 mb-5">
    <div class="row bt-rw ">
      <div class="col bt-div">
        <img src="assets\images\aboutpage\icons\experience.png" class="bt-img">
        <h6 class="headings bt-tx"><b>9+ Years in Business</b></h6>
      </div>
      <div class="col bt-div">
        <img src="assets\images\aboutpage\icons\resource.png" class="bt-img">
        <h6 class="headings bt-tx"><b>30+ Resource Strength</b></h6>
      </div>
      <div class="col bt-div">
        <img src="assets\images\aboutpage\icons\clients.png" class="bt-img">
        <h6 class="headings bt-tx"><b>24/7 Availability</b></h6>
      </div>
    </div>
    <div class="row bt-rw">
      <div class="col bt-div">
        <img src="assets\images\aboutpage\icons\projectdelivery.png" class="bt-img">
        <h6 class="headings bt-tx"><b>99.9% Project Delivery Accuracy</b></h6>
      </div>
      <div class="col bt-div">
        <img src="assets\images\aboutpage\icons\dataquality.png" class="bt-img">
        <h6 class="headings bt-tx"><b>99% Data Quality</b></h6>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="text-center">
      <h2 class="headings"><b>Our Philosophy</b></h2>
    </div>
    <div class="mission-ct">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5">
        </div>
        <div class="col-md-6 mt-5 mb-5">
          <div class="cold">
            <h3 class="headings text-center" style="color: white;"><b>Misson</b></h3>
            <div class="container body ph-tex">
              <p style="color: white;">
                We're dedicated to delivering high-quality, creatively priced services while fostering strong client
                relationships in the Data services industry. At our core, service excellence is paramount—we prioritize
                meeting client needs promptly and ensuring their satisfaction while maintaining a client-friendly
                environment committed to delivering top-quality services with a focus on data security and privacy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vision-ct">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5">
          <div class="cold">
            <h3 class="headings text-center" style="color: white;"><b>Vision</b></h3>
            <div class="container body ph-tex">
              <p style="color: white;">
                Our vision is to emerge as a leading global data service company, committed to ethical practices and
                technological advancements, fostering greater value for KAD e-Tech. We aspire to earn deep respect
                within
                the data services sector, striving to be a trusted and esteemed player by prioritizing 'Total Customer
                Satisfaction' at our core.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="values-ct">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5">
        </div>
        <div class="col-md-6 mt-5 mb-5">
          <div class="cold">
            <h3 class="headings text-center" style="color: white;"><b>Values</b></h3>
            <div class="container body ph-tex">
              <p style="color: white;">
                Our values drive our company, influencing our culture, team unity, and approach to work. Guided by our
                Vision Points, we prioritize intellectual modesty, seizing diverse opportunities, nurturing
                responsibility, curiosity, and commitment. We treat everyone with dignity, encourage boundaryless
                behavior, and actively meet society's evolving needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>