.fn{
    font-weight: lighter;
}

.carousl{
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('src\assets\images\aboutpage\carouselBg.jpg');
    justify-content: center;
}

.templ{
    margin-top: 50px;
    margin-bottom: 30px;
}
  
.bf{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.phcard{
    width: 80%;
}