<div class="global-fade-in">
    <div class="container mt-5">
        <h1><b class="headings">Trusted by Leading Companies</b></h1>
        <p class="body mt-5 text-center mh">
            Our journey is marked by the trust bestowed upon us by some of the most prominentnames
            in various industries. Here are a few of our esteemed clients who have relied on Kadetech
            for their data management needs.
        </p>
    </div>
    <div class="container text-center b-card-row-ct">
        <div class=" b-card-row">
            <div class="col-md-6 b-card">
                <p class="b-text"><i>"KAD e-Tech made our first experience with off-shore speaker
                        bureau attendee and receipt reconciliation successful process which we plan to repeat
                        many times in the future."
                    </i>
                </p>
                <img class="templ" src="assets\images\clientspage\medforce.png">
            </div>
            <div class=" col-md-6 b-card">
                <p class="b-text"><i>
                        "KAD e-Tech has enabled our team to maintain focus
                        on the big opportunities in front of us by making it easy to extend our team globallyand
                        taking repetitive data work off our plate."
                    </i>
                </p>
                <img class="templ" src="assets\images\clientspage\sudler.png">

            </div>
        </div>
        <div class="b-card-row text-center">
            <div class=" col-md-6 b-card">
                <p class="b-text"><i>"This outstanding company consistently delivers precisely as promised
                        deadlines, adhering to the outlined approach, and staying within budget.Their adept handling of
                        tasks minimizes our involvement, saving costs."
                    </i>
                </p>
                <img class="templ" src="assets\images\clientspage\infomiez.png">
            </div>
            <div class="col-md-6 b-card">
                <p class="b-text"><i>
                        "Kad e-Tech is a full-service company highly engaged in projects with a proactive approach. They
                        uphold a strong reputation for quality work, attracting clients. Noted for their meticulous
                        attention to detail and robust work culture."
                    </i>
                </p>
                <img class="templ" src="assets\images\clientspage\hudson.png">
            </div>
        </div>
        <div class="b-card-row text-center">
            <div class=" col-md-6 b-card">
                <p class="b-text"><i>"Before KAD e-Tech we relied on crowdsourcing and local
                        staffing. We now trust them with a larger share of our work. Recently they helped us
                        beat a major cost savings goal by over 100%."
                    </i>
                </p>
                <img class="templ" src="assets\images\clientspage\intramed.png">
            </div>
        </div>
        <p class="body mt-3 mb-4" style="font-size: larger;">
            <b>
                These partnerships are a testament to our commitment to delivering results that not only
                meet but often exceed expectations. At Kadetech, we're not just service providers; we're
                trusted partners in your success story.
            </b>
        </p>
    </div>

</div>