<div class="global-fade-in">
    <div class="container container-sm fn mt-5">
        <h1><b>Trusted by Leading Companies</b></h1>
        <p style="font-size: large;">Our journey is marked by the trust bestowed upon us by some of the most prominent names
            in various industries. Here are a few of our esteemed clients who have relied on Kadetech
            for their data management needs
        </p>
    </div>

    <div class="container">
        <div class="carousl">
            <div class="container text-center">
                <ngb-carousel>
                    <ng-template class="templ" ngbSlide>
                        <img class="templ" src="assets\images\clientspage\sudler.png" style="max-height: 300px;">
                        <div class="container" style="width:70% ;">
                            <p style="margin-bottom: 50px;">"KAD e-Tech has enabled our team to maintain focus
                                on the big opportunities in front of us by making it easy to extend our team globally
                                and
                                taking repetitive data work off our plate."</p>
                        </div>
                    </ng-template>

                    <ng-template class="templ" ngbSlide>
                        <img class="templ" src="assets\images\clientspage\medforce.png" style="max-height: 300px;">
                        <div class="container" style="width:70% ;">
                            <p style="margin-bottom: 50px;">"KAD e-Tech made our first experience with off-shore speaker
                                bureau attendee and receipt reconciliation successful process which we plan to repeat
                                many times in the future. The work they produced alleviated any concerns we had about
                                whether a company half-way around the globe could meet our speaker bureau data
                                reconciliation
                                entry needs."</p>
                        </div>
                    </ng-template>

                    <ng-template class="templ" ngbSlide>
                        <img class="templ" src="assets\images\clientspage\infomiez.png" style="max-height: 300px;">
                        <div class="container" style="width:70% ;">
                            <p style="margin-bottom: 50px;">"This is a fantastic company. They do EXACTLY what they say
                                the'll do, when, how and on budget! They complete the work correctly with minimal input
                                saving me cost! Couldn't be more happy!."</p>
                        </div>
                    </ng-template>


                    <ng-template class="templ" ngbSlide>
                        <img class="templ" src="assets\images\clientspage\hudson.jpg" style="max-height: 300px;">
                        <div class="container" style="width:70% ;">
                            <p style="margin-bottom: 50px;">
                                "Kad e-Tech is a start to finish company with a high level of
                                project involvement and proactive
                                attitude. The work has maintained a quality reputation and attracted clients.
                                Recommended for great attention to detail and a strong work culture."</p>
                        </div>
                    </ng-template>

                    <ng-template class="templ" ngbSlide>
                        <img class="templ" src="assets\images\clientspage\intramed.png" style="max-height: 300px;">
                        <div class="container" style="width:70% ;">
                            <p style="margin-bottom: 50px;">Before KAD e-Tech we relied on crowdsourcing and local
                                staffing. We now trust them with a larger share of our work. Recently they helped us
                                beat a major cost
                                savings goal by over 100% and continue to exceed our expectations in terms accuracy and
                                efficiency.
                            </p>
                        </div>
                    </ng-template>
                </ngb-carousel>

            </div>
        </div>
        <p style="font-size: large;">
           These partnerships are a testament to our commitment to delivering results that not only
            meet but often exceed expectations. At Kadetech, we're not just service providers; we're
            trusted partners in your success story.
        </p>
    </div>

</div>