<div class="global-fade-in">

    <div class="container container-sm fn mt-5">
        <h1><b>Connect with Us</b></h1>
    </div>
    <div class="container" style="font-size: large;">
        <p>We're here to answer your questions, provide insights, and embark on a collaborative
            journey to transform your data management strategies. Get in touch with Kadetech today</p>
    </div>
    <div class="container text-center" style="width: 70%;">
        <div class="row">
           <div class="col-md-4 fade-up">
            <button class="fabs" mat-fab disabled >
                <i class="fas fa-map-marker-alt icns"></i>
            </button>
            <h6>C-17, Shivmoti Nagar, Navlakha INDORE-452001 (M.P.) INDIA</h6>
           </div>

           <div class="col-md-4 fade-up2">
            <button class="fabs" mat-fab disabled >
                <i class="fas fa-phone icns"></i>
            </button>
            <h6>+91-7314082401 ,
                +91-9826076169<br>
                Mon-Fri 10am-8pm</h6>
           </div>

           <div class="col-md-4 fade-up3">
            <button class="fabs" mat-fab disabled >
                <i class="far fa-envelope-open icns"></i>
            </button>
            <h6>kamalagrawal@kadetech.in
            </h6>
           </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6" >
            <div class="container" style="padding: 60px;">
                <app-contact-us ></app-contact-us>
                <p>Your data's potential is our passion. Reach out to us, and let's start the conversation that
                    could redefine your data landscape. We look forward to hearing from you.</p>
            </div>
            </div>
            <div class="col-6">
                <div class="container mt-5" style="padding: 60px;">
                    <img src="assets\images\contactpage\contact.jpeg" height="500px" width="auto">
                </div>
            </div>
            
        </div>
    </div>

</div>