<div class="global-fade-in">
    <div class="bgim">

        <div class="col-6" style="padding-top: 5px;">
            <div class="container">
                <div class="container" style="width: 75%;">
                    <h1 class="mt-5"><b class="headings">Connect With Us</b></h1>
                    <p class="body" style="font-size: larger;text-align: justify;">
                        <b>
                            We're here to answer your questions, provide insights, and embark
                            on a collaborative
                            journey to transform your data management strategies. Get in touch with Kadetech today.
                        </b>
                    </p>
                    <app-contact-us style="font-size: larger;"></app-contact-us>
                </div>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>

</div>