@keyframes fadeUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

.f-head {
    font-size: larger;
    text-align: justify;
}

.bgim {
    background-image: url('src\assets\images\contactpage\contact.jpg');
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 767px) {

    .bgim-m {
        background-image: url('src\assets\images\contactpage\contact.jpg');
        background-size: cover;
        background-position: center;
    }

    .f-head {
        font-size: small;
        text-align: justify;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }
}