<div class="global-fade-in">
    <div class="container container-sm fn mt-5">
        <h1><b>Our services</b></h1>
    </div>
    <div class="dsc">
        <h2 class="text-center" style="font-weight: bold;padding: 50px;">Data Services</h2>
        <div class="container">
            <div class="row text-center" style="margin: 30px;">
                <div class="col-md-6">
                    <h3 class="mt-5"><b>Data Processing</b></h3>
                    <p class="mt-4" style="font-size: 20px;">
                        Our data processing solutions are finely tuned to streamline your data
                        workflows, boosting efficiency, and minimizing errors.
                        Say goodbye to data bottlenecks.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="assets\images\servicespage\dataprocessing.jpg" height="auto" width="500px"
                        style="margin-bottom: 20px; border-radius: 5px;">
                </div>
            </div>
            <div class="row text-center" style="margin: 30px;">
                <div class="col-md-6">
                    <img src="assets\images\servicespage\datareconciliation.jpg" height="auto" width="500px"
                        style="margin-bottom: 20px; border-radius: 5px;">
                </div>
                <div class="col-md-6">
                    <h3 class="mt-5"><b>Data Reconciliation</b></h3>
                    <p class="mt-4" style="font-size: 20px;">
                        Achieve harmony across multiple data sources with our expert data
                        reconciliation services.
                        Ensure data consistency and pinpoint accuracy in all your operations.
                    </p>
                </div>
            </div>
            <div class="row text-center" style="margin: 30px;">
                <div class="col-md-6">
                    <h3 class="mt-5"><b>Data Annotation</b></h3>
                    <p class="mt-4" style="font-size: 20px;"> Elevate your machine learning and AI projects with Our
                        top-notch data
                        annotation services.
                        We understand that quality annotations are the bedrock of successful AI endeavours.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="assets\images\servicespage\dataprocessing.jpg" height="auto" width="500px"
                        style="margin-bottom: 20px; border-radius: 5px;">
                </div>
            </div>
        </div>
        <div class="container text-center" style="font-size: 20px;">
            <p>
                Our services are meticulously designed to optimize your data operations, granting you a
                competitive edge in a world increasingly driven by data.
            </p>
        </div>
    </div>
</div>