.dsc {
    background-image: url('src\assets\images\servicespage\dsbg.jpg');
    background-size: cover;
}

.img {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.row {
    align-items: center;
    justify-content: center;
}

.ser-data {
    font-size: 20px;
    text-align: justify;

}

.ser-cnt {
    width: 80%;
}


.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }
}