<div class="global-fade-in">
    <div class="container mt-5">
        <h1><b class="headings">Our services</b></h1>
    </div>
    <div class="dsc">
        <div class="container-fluid desktop-view">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Processing</b></h3>
                        <p class="ser-data body">
                            Our data processing solutions, finely tuned to streamline your data workflows, boosting
                            efficiency and minimizing errors, cater to various needs such as <b>Pharma speaker
                                bureau</b>,
                            <b>Medical and other transcriptions</b>, and <b>Data entry</b>. Say goodbye to data
                            bottlenecks with our comprehensive services.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 image-container mt-5">
                    <img src="assets\images\servicespage\dataprocessing.jpg" class="img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\datareconciliation.jpg" class="img">
                </div>
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Reconciliation</b></h3>
                        <p class="ser-data body">
                            Achieve harmony across multiple data sources with our expert data
                            reconciliation services.
                            Ensure data consistency and pinpoint accuracy in all your operations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Annotation</b></h3>
                        <p class="ser-data body"> Elevate your machine learning and AI projects with Our
                            top-notch data
                            annotation services.
                            We understand that quality annotations are the bedrock of successful AI endeavours.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\dataannotation.jpg" class="img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\productmanagement.jpg" class="img">
                </div>
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Product Management on e-commerce websites</b></h3>
                        <p class="ser-data body"> We specialize in optimizing product management for e-commerce
                            websites. Our service ensures streamlined product listings, efficient categorization, and
                            strategic merchandising, enhancing the overall customer experience for increased sales and
                            seamless user navigation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>3D Modeling Expertise</b></h3>
                        <p class="ser-data body">
                            Seamless 2D to 3D conversions, leveraging AutoCAD's precision,
                            Crafting intricate designs, transforming drawings into 3D with ease.
                            Expert proficiency in Pro-E for meticulous 3D model creation,
                            Ensuring accuracy and detail in the conversion process.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\3dmodeling.jpg" class="img">
                </div>
                <div class="col-md-12">
                    <div class="container text-center" style="font-size: larger;">
                        <p class="body">
                            <b>
                                Our services are meticulously designed to optimize your data operations, granting you a
                                competitive edge in a world driven by data.
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Mobile View -->
        <div class="container-fluid mobile-view ">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Processing</b></h3>
                        <p class="ser-data body">
                            Our data processing solutions, finely tuned to streamline your data workflows, boosting
                            efficiency and minimizing errors, cater to various needs such as <b>Pharma speaker
                                bureau</b>,
                            <b>Medical and other transcriptions</b>, and <b>Data entry</b>. Say goodbye to data
                            bottlenecks with our comprehensive services.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 image-container mt-5">
                    <img src="assets\images\servicespage\dataprocessing.jpg" class="img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Reconciliation</b></h3>
                        <p class="ser-data body">
                            Achieve harmony across multiple data sources with our expert data
                            reconciliation services.
                            Ensure data consistency and pinpoint accuracy in all your operations.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\datareconciliation.jpg" class="img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Data Annotation</b></h3>
                        <p class="ser-data body"> Elevate your machine learning and AI projects with Our
                            top-notch data
                            annotation services.
                            We understand that quality annotations are the bedrock of successful AI endeavours.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\dataannotation.jpg" class="img">
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>Product Management on e-commerce websites</b></h3>
                        <p class="ser-data body"> We specialize in optimizing product management for e-commerce
                            websites. Our service ensures streamlined product listings, efficient categorization, and
                            strategic merchandising, enhancing the overall customer experience for increased sales and
                            seamless user navigation.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\productmanagement.jpg" class="img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="container ser-cnt text-center">
                        <h3 class="headings"><b>3D Modeling Expertise</b></h3>
                        <p class="ser-data body">
                            Seamless 2D to 3D conversions, leveraging AutoCAD's precision,
                            Crafting intricate designs, transforming drawings into 3D with ease.
                            Expert proficiency in Pro-E for meticulous 3D model creation,
                            Ensuring accuracy and detail in the conversion process.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets\images\servicespage\3dmodeling.jpg" class="img">
                </div>
                <div class="col-md-12">
                    <div class="container text-center" style="font-size: larger;">
                        <p class="body">
                            <b>
                                Our services are meticulously designed to optimize your data operations, granting you a
                                competitive edge in a world driven by data.
                            </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>