.apb {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
}

.apb-tx {
    color: white;
}

.input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

.lgbtn {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: -1;
}

.img {
    width: auto;
    height: 200px;
}

.imgc {
    position: relative;
    width: fit-content;
}

.dlb {
    position: absolute;
    top: 0;
    right: 0;
}