@import "~bootstrap-icons/font/bootstrap-icons.css";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
li,
ul,
ol,
button,
input,
textarea {
  color: #40320C;
}



html,
body {
  height: 100%;
}

body {
  font-family: Abril Fatface;
}

.headings {
  font-family: 'League Spartan', sans-serif;
}

.body {
  font-family: 'monteserride classic', sans-serif;
}



/* global fade-in animation ---{ */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.global-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* global fade-in animation ----} */


@media only screen and (max-width: 600px) {

  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span,
  div,
  li,
  ul,
  ol,
  button,
  input,
  textarea {

    font-size: medium;
  }
}