@import "~bootstrap-icons/font/bootstrap-icons.css";

body, p, h1, h2, h3, h4, h5, h6, a, span, div, li, ul, ol, button, input, textarea {
    color: purple;
  }
  

  @font-face {
    font-family: Poppins;
    src: url('assets\fonts\Poppins\Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body { height: 100%; }
body { margin: 0; font-family: Poppins; }


/* global fade-in animation ---{ */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.global-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* global fade-in animation ----} */